CONFIG_CHCM_WORKBOOK_PATH="xlsx/E01 CHCM-1C-2C1V(得邦)_config_Dataset_LEFT_V0.2.xlsx"
CONFIG_PROJECT_A_SMALL=y
# CONFIG_PROJECT_A_PLUS_PLUS is not set
# CONFIG_PROJECT_A_PLUS is not set
CONFIG_PROJECT_NAME=0
# CONFIG_COM_VERSION_V4 is not set
CONFIG_COM_VERSION_V5=y
CONFIG_SYSTEM_COM_VERION=1
